/Train_Code/wandb
/Train_Code/my_awesome_billsum_model
/Train_Code/*/
/Train_Code/*.zip
*.pyc
/Web_Demo/db.sqlite3
Web_Demo/db.sqlite3
*.sqlite3
/Web_Demo/home/Billsum*
/Web_Demo/home/BillsumModel
/Web_Demo/home/BillsumModel/
/Web_Demo/home/BillsumModel/*
/Web_Demo/home/BillsumModel/*/*.*
Web_Demo/home/BillsumModel.zip
